<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Axolingo">

        <!-- Esta es tu actividad de inicio de sesión, la que se abre primero -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".userSignForms.SignInActivity"
            android:exported="false">
        </activity>

        <activity
            android:name=".userSignForms.SignUpActivity"
            android:exported="false" />
        <!--
            LA CORRECCIÓN ESTÁ AQUÍ:
            La declaración de MenuPrincipalActivity debe estar DENTRO de la etiqueta <application>
            y con el nombre completo.
        -->
        <activity
            android:name=".menu_principal.MenuPrincipalActivity"
            android:exported="false" />

        <activity
            android:name=".menu_vocabulario.MenuVocabularyActivity"
            android:exported="false" />


        <activity
            android:name=".forms.Registrarse"
            android:exported="false" />

        <activity
            android:name=".forms.IniciarSesion"
            android:exported="false" />

        <activity
            android:name=".selector_palabras.InterfazSelector"
            android:exported="false" />

        <activity
            android:name=".pizarra.InterfazPizarra"
            android:exported="false" />

        <!-- solicitando el modelo para digitos -->
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="digit" />
    </application>

</manifest>
            

